_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*DS_STORE*
Gemfile.lock
node_modules
doc.txt
gptquery.py
build-instructions.txt

# Generated thumbnails and album metadata
images/**/thumbs/
_data/album_sizes/*.json