body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    height: 100vh;
}

#left-panel {
    flex: 1;
    max-width: 33.33%; /* 1/3 of the screen */
    background-color: #f0f0f0;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

#left-panel h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#left-panel p {
    font-size: 24px;
}

#instructions {
    margin-top: 40px;
}

#instructions h2 {
    font-size: 24px;
}

#instructions ul {
    list-style-type: none;
    padding: 0;
}

#instructions li {
    font-size: 18px;
    margin: 5px 0;
}

#right-panel {
    flex: 2;
    max-width: 66.67%; /* 2/3 of the screen */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    width: 50%; /* Adjusted to be around half the size of the right panel */
    height: 50%; /* Adjusted to maintain aspect ratio */
    background-color: #eaeaea;
    border: 1px solid #000; /* Optional: Add a border for better visibility */
}


#left-panel p.old-website {
    font-size: 18px;
    margin-top: 10px;
}

#left-panel p.old-website a {
    color: #007BFF;
    text-decoration: none;
}

#left-panel p.old-website a:hover {
    text-decoration: underline;
}