/*
  Provided CSS for A1: Message Encrypter
  CS 11 JS Winter 2021

  Instructions: This code is provided for you, but defines page styling for index.html,
  and some CSS classes that you add/remove in JS (e.g. .uppercase).

  You are not required to change this CSS, though you may when adding your own features. 
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Typography */
 
body {
  background-color: #eeeeee;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

main {
 display: flex;
 justify-content: center;
}

main > div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main > div > fieldset {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  box-shadow: 1px 1px 5px;
  margin-bottom: 5px;
  width: calc(100vw - 10px);
}

button, textarea {
  color: white;
}

h1, h2, legend {
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 28pt;
   /*
   * If you've never seen text-shadow, open up the Inspector and play around
  * with it a bit!
  */
  text-shadow: 1px 1px #d92b6f, -1px -1px #047ab9;
}

h1, h2 {
 background: white;
 padding: 10px 0;
}

h2 {
  margin: 0;
}

legend {
  font-size: 16pt;
}

button, strong, textarea, #result-area {
  font-size: 12pt;
}

textarea {
  width: 100%;
}

textarea, #result {
  flex-grow: 1;
}

strong {
  line-height: 26pt;
}

select {
  padding: 2pt;
  margin: 0 14pt;
  font-size: 12pt;
}

/* Fieldset */

div {
  width: 30vw;
  float: left;
  border: 1pt solid black;
  box-shadow: 1px 1px 5px;
  margin: 5px;
  background-color: white;
}

fieldset {
  width: 80%;
  padding: 7pt 14pt;
  border: 0pt solid black;
  margin: 14pt auto;
}

textarea, #result {
  padding: 7pt;
  border: 2px solid #101010;
  background-color: #fafafa;
  color: black;
  /*
   * Disable resize and outline (the blue-y border thing you see when you click
   * on interactive elements on a page. Never remove outline if you are not
   * implementing your own CSS for an element's focused state for
   * accessibility!)
   * Read more at:
   * https://developer.mozilla.org/en-US/docs/Web/CSS/outline#Accessibility_concerns
   */
  resize: none;
  outline: none;
  /*
   * A CSS property that changes the border-color smoothly when the textarea
   * changes state. In this case, when the text area is focused
   */
  transition: border-color 0.5s;
}

textarea:focus {
  border-color: #047ab9;
}


button, select {
  border: none;
}

button {
  min-width: 150px;
  padding: 5px;
  margin: 5px 0;
  background-color: #047ab9;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d92b6f;
}

h2, fieldset {
  animation: fade-in-up 0.5s;
  animation-fill-mode: both;
}

p {
  animation-delay: 0.2s;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

/*
 * A simple keyframe rule, where 'from' is the same as 0%, and 'to' is the same
 * as 100%
 */
@keyframes fade-in-up {
  from {
    transform: translateY(8pt);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

