<div class="col-auto">
    <p> <a href="mailto:swann@stanford.edu">email</a> </p>
    </div>
    <div class="col-auto">
        <p> <a href="./assets/pdf/swwann_cv.pdf"> CV</a> </p>
    </div>
    <div class="col-auto">
        <p> <a href="https://x.com/SwannAiden"> twitter</a> </p>
    </div> 
    <div class="col-auto"> 
        <p> <a  href="https://scholar.google.com/citations?user=feH32sgAAAAJ&hl=en&oi=ao"> google scholar</a> <p>
    </div> 
    <div class="col-auto">
    <p> <a  href="https://github.com/swannaiden"> github</a> </p>
</div>