<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Hobbies </h4>
		<p> Outside of research, I enjoy rock climbing, photography, camping and wood working.</p>
	</div>
</div>																																																
<div class="row justify-content-center pb-3">
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/aiden_climbing_small.jpeg" alt="Picture of Aiden climbing at Mickey's beach."/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="images/digital/digital2Low.jpg" alt="Long exposure of a bottle rocket"/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/aiden_camping.jpeg" alt="Picture of Aiden camping in Badlands national park"/>
		</div>
	</div>
	<div class="col-3">
		<div class="square">
			<img class="img-fluid" src="assets/img/aiden_chess.jpeg" alt="Picture of a chessboard I made"/>
		</div>
	</div>
</div>
<div class="row justify-content-center pb-3">
	<div class="col-12">
		<h4> Old Projects</h4>
		<p> Some of my old projects can be found <a class="content-button" data-target="projects">(here)</a></p>
	</div>
</div> 