<!-- Like theme-projects-builtin-1, but uses project-card-2.html (i.e. entire card is a link). -->

<a class="blue card" href="/projects/slide">
  
  
  <div class="content">
    <span class="header">Project Catagories</span>

    <div class="description">
      Here I have sorted the projects into four main catagories. Research encompasses all the project which involve some sort of novel development. Most focus on control and dynamical systems. Educational includes both posts in which I teach and posts in which I learned. The rest are self explanatory
    </div>
    <div class="center aligned ui grid" style="padding-top: 7px">
      <div class="sixteen wide column">
          <button class="ui yellow button" href="{{ site.baseurl }}/projects/research">Research</button>
      </div>
      <div class="sixteen wide column">
          <button class="ui blue button">Educational</button>
      </div>
      <div class="sixteen wide column">
          <button class="ui olive button">Mechanical</button>
      </div>
      <div class="sixteen wide column">
        <button class="ui purple button">Fun!</button>
      </div>
    </div>
  </div>
</a>

<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered four cards">
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% for page in project_pages %}
      {% unless page.draft %}
        {% include project-card-1a.html page=page %}
      {% endunless %}
    {% endfor %}
  </div>
</div>