/*
 * Provided CSS for A3: Weather Forecaster
 * CS 11 JS Winter 2021

 * Instructions: This code is provided for you, but defines page styling for index.html.
 * You are not required to change this CSS, though you may when adding your own features. 
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;600&display=swap');

body {
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, button, input {
  font-family: 'Montesserat', 'Open Sans', Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 24pt;
}

main {
  /* expand to occupy remaining space within body flex-column container */
  flex-grow: 1;
}
  
form {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#response, footer {
  font-size: 12pt;
}

#weather label {
  text-align: center;
  margin-bottom: 0.1em;
  font-weight: bold;
}

#weather input {
  margin: 0 auto;
  padding: 0.25em;
  font-size: 1.1em;
}

#weather button {
  padding: 0.5em 2.5em;
  font-weight: bold;
  background-color: #ddeeff;
  color: #505099;
  border: 2px solid #505099;
}

#weather button, footer a {
  color: #505099;
}

#response {
  border: 1px solid #000;
  margin: 0 auto;
  width: 50%;
  padding: 0.5em;
}

#location {
  font-size: 1.5em;
  font-weight: bold;
}

#icon {
  padding: 0.25em;
}

#result-time {
  font-style: italic;
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
}

.hidden {
  display: none;
}